/* div {
  border: 1px solid #000000;
} */
/* Part 1 */
#part1 ul li{
  padding-right: 20px;
}
#part1 li a:hover {
  color: #ffffff;
  background-color: #0b5ed7
}
.flag-icon {
  cursor: pointer;
  width: 46px;
  height: 32px;
  border-radius: 1px;
}
.flag-icon:hover {
  transform: scale(1.1);
}

/* Part 2 */
#part2 .col-md-8 a{
  text-decoration: none;
}
form {
  width: 95%;
  max-width: 600px;
  height: 50px;
  display: inline-flex;
}
form button {
  width: 100%; /* chiếm toàn bộ chiều ngang cột */
  max-width: 120px; /* nếu muốn giới hạn chiều rộng tối đa */
}
#part2 .col-md-4 button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 112px;
  margin: 40px 0px 0px 0px; /* top right bottom left */
}
#part2 .col-md-4 button:hover {
  background-color: #0b5ed7;
  color: #fff;
}

/* Part 3 */
#part3 .col-md-4 {
  padding: 15px 50px 0px 50px; /* top right bottom left */
}
.carousel-inner img{
  width: 100%;
  height: 456px;
  max-width: 812px;
  margin: 2px 0px 0px 36px;
}
.carousel-control-next {
  /* width: 50px; */
  /* height: 50px; */
  width: 34%;
}

/* Part 5 */
#part5 .col-md-6 img {
  width: 50%;
}

.bi-arrow-up-square {
  font-size: 2rem;
  color: #0d6efd;
  cursor: pointer;
  float: right;
}


